/* Layout and design by WhileD0S <https://vk.com/whiled0s>  */
body {
    font-size: 18px;
    color: #333;
}

button:hover {
    cursor: pointer;
}

/* Main styles */
.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5 {
    margin: 0;
}

.card-block .card-header {
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.card-block .input-group {
    margin-bottom: 1.25rem;
}

.card-block .input-group:last-child {
    margin-bottom: 0;
}

.card .card-footer {
    padding-bottom: .75rem;
}

.list-group a {
    color: #333;
}

.list-group a:hover {
    background-color: #eee;
}

/* Helpers */
.fa-left {
    margin-right: .5rem;
}

.fa-right {
    margin-left: .5rem;
}

.prefix {
    margin-top: 1rem;
}

.full-w {
    width: 100%;
}

.full-h {
    min-height: 100vh;
}

.full-wh {
    width: 100%;
    min-height: 100vh;
}

.inline {
    display: inline-block;
}

.d_green {
    background-color: #2ecc71;
}

.d_orange {
    background-color: #f39c12;
}

.no-pdh {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pd-v-form {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inset-1 {
    -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

/**
 * Checkboxes
 */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px;
    height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px;
    left: 5px;
}

.dropdown-overflow {
    height: 300px;
    overflow-y: scroll;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background: #DDDDDD;
}

[type="checkbox"]:checked + label:after {
    background: #2babdf;
    top: 2px;
    left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}

[type="checkbox"] + label {
    font-size: 17px;
}

[type="checkbox"]:not(:checked) + label .ui:before {
    left: 32px
}

[type="checkbox"]:checked + label .ui:after {
    color: #2babdf;
}

[type="checkbox"]:focus + label:before {
    box-sizing: border-box;
}
