#full {
  display: flex;
  min-height: 100vh;
  width: 100%;
  #enter-card {
    #form-header {
      display: flex;
      margin: 0 -15px;
      padding: 10px;
      justify-content: center;
      color: #ffffff;
      h1 {
        font-size: 30px;
        font-weight: normal;
        margin-left: 10px;
        line-height: normal;
        text-align: center;
      }
    }
    #form {
      padding: 10px 20px;
    }
    #form-footer {
      display: flex;
      justify-content: space-around;
      padding: 5px 10px;
    }
  }
}
